@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NotoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/NotoSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NotoSans-Black.woff") format("woff");
}
